h1
  background: image-url("blank1.gif")
h2
  background: image-url("blank2.gif")
h3
  background: image-url("blank3.gif")
h4
  background: image-url("blank4.gif")
h5
  background: image-url("blank5.gif")
h6
  background: image-url("blank6.gif")
h7
  background: image-url("blank7.gif")
h8
  background: image-url("blank8.gif")
h11
  background: image-url("blank11.gif")
h12
  background: image-url("blank21.gif")
h13
  background: image-url("blank31.gif")
h14
  background: image-url("blank41.gif")
h15
  background: image-url("blank51.gif")
h16
  background: image-url("blank61.gif")
h17
  background: image-url("blank71.gif")
h18
  background: image-url("blank81.gif")
h21
  background: image-url("blank12.gif")
h22
  background: image-url("blank22.gif")
h23
  background: image-url("blank32.gif")
h24
  background: image-url("blank42.gif")
h25
  background: image-url("blank52.gif")
h26
  background: image-url("blank62.gif")
h27
  background: image-url("blank72.gif")
h28
  background: image-url("blank82.gif")