#main {
  padding: 50px;
  background-image: image-url('100px.jpg');
  background-image: image-url('100px.jpg?test');
  background-image: image-url('100px.jpg?#test');
  background-image: image-url('100px.jpg#test');
}
