<h1>Welcome</h1>


<%= data.pages.first %>
<%#= data.pages.first %>
<%#= data.pages.first(2) %>
<%#= data.pages.first(2).first %>
--

<%= data.pages.last %>
<%#= data.pages.last(2) %>
<%#= data.pages.last(2).last %>