*.sw?
.DS_Store
coverage
rdoc
pkg
.sass-cache
bin/autospec
bin/compass
bin/css2sass
bin/cucumber
bin/edit_json.rb
bin/haml
bin/html2haml
bin/htmldiff
bin/launchy
bin/ldiff
bin/prettify_json.rb
bin/rackup
bin/rake
bin/ri
bin/sass
bin/sdoc
bin/sdoc-merge
bin/shotgun
bin/spec
bin/sprocketize
bin/thin
bin/tt
