.vscode
.byebug_history
npm-debug.log
manifest.yaml
/.bundle
.DS_Store
coverage
rdoc
pkg
.sass-cache
.sassc
.tmp
graph.dot
graph.jpg
docs
.rbenv-*
.ruby-version
.ruby-gemset
.*.swp
build
doc
.yardoc
tmp
Makefile
.mm-pid-*
.idea
*.sublime-workspace
/bin
/vendor/bundle/
deps.yml