[submodule "vendor/sinatra-markaby"]
	path = vendor/sinatra-markaby
	url = git://github.com/sbfaulkner/sinatra-markaby.git
[submodule "vendor/sinatra-maruku"]
	path = vendor/sinatra-maruku
	url = git://github.com/wbzyl/sinatra-maruku.git
[submodule "vendor/rack-test"]
	path = vendor/rack-test
	url = git://github.com/brynary/rack-test.git
[submodule "vendor/sinatra-content-for"]
	path = vendor/sinatra-content-for
	url = git://github.com/foca/sinatra-content-for.git