/.bundle
.DS_Store
coverage
rdoc
pkg
.sass-cache
.sassc
.tmp
Gemfile.lock
docs
.rbenv-*
.ruby-version
.*.swp
build
doc
.yardoc
tmp
Makefile
.mm-pid-*
.idea
*.sublime-workspace
/bin
middleman-core/fixtures/compass-sprites-app/source/images/icon-s0de2218f58.png