language: ruby
sudo: false
cache: bundler
before_script:
  - bundle update
rvm:
  - ruby-head
  # - 2.5.0
  - 2.4.0
  - 2.3.1
  - 2.2.4
os:
  - linux
  # - osx
matrix:
  fast_finish: true
  allow_failures:
    - rvm: ruby-head
env:
  global:
    - TEST=true
script: bundle exec rake test
notifications:
  slack: middleman:JW9OvXmn1m3XrSERe8866nBR
