language: ruby
sudo: false
cache: bundler
rvm:
  - ruby-head
  - 2.5.1
  - 2.4.4
  - 2.3.7
  - 2.2.10
os:
  - linux
matrix:
  fast_finish: true
  allow_failures:
    - rvm: ruby-head
env:
  global:
    - TEST=true
script: bundle exec rake test
