rvm:
  - 1.8.7
  - 1.9.2
  - 1.9.3
  - jruby-18mode
  - jruby-19mode
  
script: "bundle exec rake test"

env: TEST=true TRAVIS=true

matrix:
  allow_failures:
    - rvm: jruby-18mode
    - rvm: jruby-19mode