lib/**/*.rb 
--exclude lib/middleman/vendor 
--exclude lib/middleman/extensions/automatic_image_sizes/fastimage.rb 
--exclude lib/middleman/extensions/minify_css/cssmin.rb
--exclude lib/middleman/step_definitions
--exclude lib/middleman/step_definitions.rb
--no-private