<html>
  <head>
    <%= stylesheet_link_tag :relative_assets, relative: false %>
    <%= javascript_include_tag :app, relative: false  %>
  </head>
  <body>
    <%= image_tag "blank.gif" %>
  </body>
</html>