@font-face {
    font-family: 'Roboto';
    src: url(/fonts/roboto/roboto-regular-webfont.eot);
    src: url(/fonts/roboto/roboto-regular-webfont.eot?#iefix) format('embedded-opentype'),
         url(/fonts/roboto/roboto-regular-webfont.woff) format('woff'),
         url(/fonts/roboto/roboto-regular-webfont.ttf) format('truetype'),
         url(/fonts/roboto/roboto-regular-webfont.svg#robotoregular) format('svg');
    font-weight: normal;
    font-style: normal;
}
