:javascript
  ;(function() {
    this;
    should();
    all.be();
    on = { one: line };
  })();

%script
  :plain
    ;(function() {
      this;
      should();
      too();
    })();

%script(type="text/javascript")
  :plain
    //<!--
    ;(function() {
      one;
      line();
      here();
    })();
    //-->
    
%script(type="text/html")
  I'm a jQuery {{template}}.