<html>
  <head>
    <title>My Sample Site</title>
    <!-- Comment in layout -->
  </head>
  <body>
    <%= yield %>

    <% link_to "layout_block_link.html" do %>
      Block link text
    <% end %>
  </body>
</html>
