<% content_for :head do %>
  <title>The Middleman!</title>
<% end %>

<h2>Image url:</h2>
<img src="/images/100px.jpg">
<%= image_tag('100px.jpg?test') %>
<%= image_tag('100px.jpg?#test') %>
<%= image_tag('100px.jpg#test') %>
