<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Middleman Configuration</title>
    <link type="text/css" rel="stylesheet" href="/__middleman/assets/meta.css">
    <link type="text/css" rel="stylesheet" href="/__middleman/assets/config.css">
  </head>

  <body>
    <div class="container">
      <article id="main">
    <a href="/__middleman/">&laquo; back</a>
    <h1>Middleman Configuration</h1>

    <p>This page shows the current configuration of your Middleman application. <a href="http://middlemanapp.com/advanced/configuration/">Read more about configuring Middleman.</a></p>

    <p>
      <a href="#core">Core configuration</a>
      | <a href="#extensions">Extensions</a>
    </p>

    <h2 id="core">Core Configuration</h2>
    <ul class="settings">
    <% global_config.each do |setting| %>
      <li class="setting"><%= setting.render %></li>
    <% end %>
    </ul>

    <h2 id="extensions">Extensions</h2>
    <ul class="extensions">
      <% [extension_config, auto_activated_config].each do |extensions| %>
        <% extensions.each do |ext_name, configs| %>
        <li>
          <% registered_extensions.delete(ext_name) %>

          <span class="extension active">:<%= ext_name %></span>

          <% if configs && !configs.empty? %>
          <ul class="settings">
            <% configs.each do |setting| %>
            <li class="setting"><%= setting.render %></li>
            <% end %>
          </ul>
          <% end %>
        </li>
        <% end %>
      <% end %>

      <% registered_extensions.keys.each do |ext_name| %>
      <li><span class="extension inactive"><%= ext_name.inspect %></span></li>
      <% end %>
    </ul>
    </article>
    </div>
  </body>
</html>
