<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
        
    <title>Middleman Meta Pages</title>
  </head>
  
  <body>
    <h1>Middleman Meta Pages</h1>

    <p>Peer into the bowels of your Middleman application with these handy views!</p>

    <ul>
      <li><a href="sitemap/">Sitemap</a></li>
    </ul>
  </body>
</html>
    
