<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Middleman Info</title>
    <link type="text/css" rel="stylesheet" href="/__middleman/assets/meta.css">
  </head>

  <body>
    <div class="container">
      <article id="main">
        <h1>Middleman Information</h1>

        <ul class="nav-list">
          <li>
            <a href="/__middleman/sitemap/">Sitemap</a>
            <p>The structure of your site as understood by Middleman.</p>
          </li>
          <li>
            <a href="/__middleman/config/">Configuration</a>
            <p>All available configuration options and their current values.</p>
          </li>
          <li>
            <a href="http://middlemanapp.com">Middleman Guides</a>
            <p>Documentation about Middleman's features.</p>
          </li>
        </ul>
      </article>
    </div>
  </body>
</html>
