<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <title>Middleman Sitemap</title>


    <link type="text/css" rel="stylesheet" href="/__middleman/assets/meta.css">
    <link type="text/css" rel="stylesheet" href="/__middleman/assets/sitemap.css">
    <script src="/__middleman/assets/jquery-1.8.2.min.js"></script>
    <script src="/__middleman/assets/jquery.details-1.6.min.js"></script>
    <script src="/__middleman/assets/sitemap.js"></script>
  </head>

  <body>
    <div class="container">
      <article id="main">
        <a href="/__middleman/">&laquo; back</a>
        <h1>Middleman Sitemap</h1>

        <p>This page shows all of the pages in
        <a href="http://middlemanapp.com/advanced/sitemap/">the sitemap</a>,
        Middleman's view of your site.</p>

        <%= sitemap_tree.render %>
      </article>
    </div>
  </body>
</html>
