<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
        
    <title>Middleman Sitemap</title>
  </head>
  
  <body>
    <h1>Middleman Sitemap</h1>
    <a href="../">More meta pages</a>

    <%= partial 'sitemap_tree.html.erb', :tree => resource_tree %>
  </body>
</html>

