<% @content = captured_content do %>
  <span>Captured Line 1</span>
  <span>Captured Line 2</span>
<% end %>
<%= @content %>

<% concat_in_p('Concat Line 3') %>

<% concat_if_block_is_template('erb') do %>
  <span>This is erb</span>
  <span>This is erb</span>
<% end %>

<% concat_ruby_not_template_block %>
