- @content = captured_content do
  %span Captured Line 1
  %span Captured Line 2
= @content

= concat_in_p('Concat Line 3')

= concat_if_block_is_template('haml') do
  %span This is haml
  %span This is haml

= concat_ruby_not_template_block
