name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    name: ubuntu-ruby-${{ matrix.ruby-version }}
    strategy:
      fail-fast: false
      matrix:
        ruby-version: ["3.4", "3.3", "3.2", "3.1", "3.0", "2.7"]
    steps:
      - uses: actions/checkout@v5
      - name: Delete Gemfile.lock
        run: rm Gemfile.lock
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true
      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: "12"
      - name: Runs tests
        run: bundle exec rake test
        env:
          TEST: true
